<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Headline Agreement</title>      \
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
  </head>
  <body>
    These graphs show the proportion of articles shared by the user which agree or disagree with articles published by the news outlet. A higher value in the first graph suggests the user shares a viewpoint with the particular outlet (and so on). A low overall score across all outlets suggests that the user shares articles which are not corroborated by mainstream media (and therefore a risk of being 'fake')
    
    <h2>Headline Agreement Ratings</h2>
    <canvas id="chart" width="450" height="300"></canvas>
    <h2>Headline Disagreement Ratings</h2>
    <canvas id="chart2" width="450" height="300"></canvas>


    <script>
       // bar chart data
       var barData = {
       labels : [{% for item in labels %}
                      "{{item}}",
                  {% endfor %}],
       datasets : [
          {
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data : [{% for item in values_agree %}
                          {{item}},
                        {% endfor %}]
          }
          ]
       }

       // get bar chart canvas
       var mychart = document.getElementById("chart").getContext("2d");

       steps = 10
       max = {{height}}
       // draw bar chart
       new Chart(mychart).Bar(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines : true,
            barShowStroke : true,
            scaleShowLabels: true
       });

       // bar chart data
       var barData2 = {
       labels : [{% for item in labels %}
                      "{{item}}",
                  {% endfor %}],
       datasets : [
          {
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
             data : [{% for item in values_disagree %}
                          {{item}},
                        {% endfor %}]
          }
          ]
       }

       // get bar chart canvas
       var mychart2 = document.getElementById("chart2").getContext("2d");
       // draw bar chart
       new Chart(mychart2).Bar(barData2, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines : true,
            barShowStroke : true,
            scaleShowLabels: true
       });

    </script>
  </body>
</html>
