<html>
   <body>

      <form action = "http://localhost:5001/chart" method = "POST">
        Enter the Twitter username to test. This form is not validated, so be careful. Exclude the @. <br/>
        As this is a protype proof-of-concept, the delay between submitting the form and receiving results is significant (5-10 minutes). In practice, this could be made more efficient, and typically would not be used in a form as it's presented here.
         <p>Screen Name:<input type = "text" name = "screen_name" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>

   </body>
</html>
